@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.gu-label {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: #222;
  font-weight: bold;
  font-size: 14px;
}

.gu-label::before {
  display: none !important;
}

.leaflet-tooltip {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: black;
  font-weight: bold;
}

.leaflet-tooltip {
  border: none !important;
  box-shadow: none !important;
}